* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /*Primary */
--cyan: hsl(180, 66%, 49%);
--darkViolet: hsl(257, 27%, 26%);

    /*Secondary */
--red: hsl(0, 87%, 67%);

    /*Neutral */
--gray: hsl(0, 0%, 75%);
--grayishViolet: hsl(257, 7%, 63%);
--veryDarkBlue: hsl(255, 11%, 22%);
--veryDarkViolet: hsl(260, 8%, 14%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    height: 100vh;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

footer {
    background-color: var(--veryDarkViolet);
    color: white;
}
footer p{
    background-color: var(--veryDarkViolet);
    color: white;
    padding: 25px;
}

a {
    text-decoration: none;
    color: var(--grayishViolet);
}

p {
    color: var(--grayishViolet);
}

button {
    font-size: 18px;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--cyan);
    color: white;
    border-style: none;
    width: 180px;
    cursor: pointer;
}

input {
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    width: 100%;
    font-size: 18px;
    padding: 15px;
}

.warnings {
    margin-top: 5px;
    color: var(--red);
    text-align: left;
    font-size: 13px;
}

header button {
    margin-top: 20px;
    border-radius: 40px;
}

.container {
    padding: 25px 20px;
}

.illustration-work {
    width: 100%;
}

.acortador {
    margin-bottom: 40px;
    background-color: rgb(78, 29, 78);
    border-radius: 10px;
    padding: 20px;
}

.acortador button {
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
}

.box {
    margin-bottom: 40px;
}

.url-no-acortada {
    text-align: left;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1px;
    padding: 15px;
}

.url-acortada {
    text-align: left;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    color: var(--cyan);
}

.url-acortada button {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}

.copied {
    background-color: var(--darkViolet);
}


/* medias */
@media (min-width:768px) {
    .container {
        padding: 25px;
    }
    .grid {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .grid img {
        width: 50%;
        margin-left: 55px;
    }
    .grid-text {
        text-align: left;
        margin-top: 4.6em;
    }
    .grid-text h1 {
        font-size: 2.2em;
    }
    .acortador {
        display: grid;
        grid-template-columns: 75% 25%;
        padding: 35px;
    }
    .acortador button {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 26px;
    }
    .input-url {
        margin-right: 20px;
    }
    .warnings {
        font-size: 15px;
    }
    .box {
        display: flex;
        background-color: white;
        justify-content: space-between;
        padding: 10px 20px;
        /* Arriba | Derecha | Abajo | Izquierda */
    }
    .url-no-acortada {
        padding: 0px;
        display: flex;
        align-items: center;
    }
    .url-acortada {
        display: flex;
        align-items: center;
        padding: 0px;
    }
    .url-acortada button {
        padding: 7px;
        width: 100px;
        margin: 0px 0px 0px 20px;
    }
}

@media (min-width:960px) {
    .container {
        padding: 25px 20px;
    }
    .grid {
        margin-top: 55px;
        margin-left: 4em;
    }
    .grid-text h1 {
        font-size: 2.7em;
    }
    .acortador {
        margin: 40px 4em;
    }
    .box {
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 0px 4em 15px 4em;
    }
}


@media (min-width:1440px) {
    .grid {
        margin-top: 55px;
        margin-left: 7em;
    }
    .grid-text h1 {
        font-size: 4em;
    }
    .acortador {
        margin: 40px 7em;
    }
    .box {
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 0px 7em 15px 7em;
    }
}